.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.dropdown-item {
  text-decoration: none;
  background-color: white;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.category-badge{
  font-size: 15px;
}

.dropdown {
  margin-left: 1%;
  background-color: green;
}
#logo {
  text-decoration: none;
  color: black;
}
.navbar {
  text-decoration: none;
  border: 1px solid black;
  margin: 10px 10px 10px 10px;
}

.App-nav {
  text-decoration: none;
}

.Users-crud {
  text-align: center;
  text-decoration: none;
}

th{
  border: 1px solid black;
  padding: 5px;
}

td{
  border: 1px solid black;
}

li{
  list-style-type: none;
}

.form-input{
  width: 50%;
  margin: 0 auto; 
}

#category-tag{
  float: right;
}

.App-link {
  color: #61dafb;
}

.btn-publish{
  border: 1px solid black;
  border-radius: 2px;
  background-color: green;
  color: white;
  
}
.btn-discard{
  border: 1px solid black;
  border-radius: 2px;
  background-color: red;
  color: white;
}
.btn-submit{
  border: 1px solid black;
  border-radius: 2px;
  background-color: blue;
  color: white;
}
.btns-div{
  padding: 10px;
  margin: 1%;
  
}

.delete-btn{
  float: right;
}

.for-posts{
  padding: 5px;
}

.for-id{
  font-size: 12px;
  font-style: italic;
  color: grey;
}

.modalpost{
  padding: 10px;
}

.postdiv{
  border: 1px solid grey;
  border-radius: 5px;
  width: 80%;
  text-align: left;
  padding: 10px;
  margin-bottom: 2px;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2; /* number of lines to show */
}
.text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-height: 16px;     /* fallback */
  max-height: 32px;      /* fallback */
  -webkit-line-clamp: 1; /* number of lines to show */
  -webkit-box-orient: vertical;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navigation{
margin-left: 1%;
}

.userLogin{
  float: right;
  border-left: 1px solid black;
  margin-bottom: 5%;
}

.routeDiv{
  margin-top: 5%;
}