@fontface {
  font-family: 'Open Sans', sans-serif;
  src: url('https://fonts.googleapis.com/css?family=Open+Sans')
}

.App {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}


.user-menu {
    float: right;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 15px;
    margin-right: 2%;
}

.dropdown-item {
  text-decoration: none;
  background-color: white;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.category-badge{
  font-size: 15px;
}

.dropdown {
  margin-left: 1%;
}
#logo {
  text-decoration: none;
  color: black;
}

.App-nav {
  text-decoration: none;
}

.welcome {
  float: right;
}

.Users-crud {
  text-align: center;
  text-decoration: none;
}

th{
  border: 1px solid black;
  padding: 5px;
}

td{
  border: 1px solid black;
}

li{
  list-style-type: none;
}

.form-input{
  width: 50%;
  margin: 0 auto; 
}

.terminate-btn {
  border: 1px solid black;
  padding: 5px;
  border-radius: 4px;
}
.terminate-btn:hover {
  color: red;
}

#category-tag{
  float: right;
}

.App-link {
  color: #61dafb;
}

.btn-publish{
  border: 1px solid black;
  border-radius: 2px;
  background-color: green;
  color: white;
  
}
.btn-discard{
  border: 1px solid black;
  border-radius: 2px;
  background-color: red;
  color: white;
}
.btn-submit{
  border: 1px solid black;
  border-radius: 2px;
  background-color: blue;
  color: white;
}
.btns-div{
  padding: 10px;
  margin: 1%;
  
}

.logout-link {
    padding: 5px;
    color: black;
    float: right;
    font-size: 16px;
}
.logout-link:hover {
    color: red;

}

.comment-field {
    padding: 10px;
}


.option-btn{
  border-radius: 4px;
  float: right;
  top: 8px;
  right: 16px;
}

.for-posts{
  padding: 5px;
}
.for-comments{
  padding: 2px;
}

.for-id{
  font-size: 12px;
  font-style: italic;
  color: grey;
}

.modalpost{
  padding: 10px;
}

.postdiv{
  border: 1px solid grey;
  border-radius: 5px;
  width: 80%;
  text-align: left;
  padding: 10px;
  margin-bottom: 2px;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2; /* number of lines to show */
  background-color: rgb(244, 244, 251);
}
.text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-height: 16px;     /* fallback */
  max-height: 32px;      /* fallback */
  -webkit-line-clamp: 1; /* number of lines to show */
  -webkit-box-orient: vertical;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#inputContent{
  height: 200px;
}

.commentDate{
  float:right;
  margin-right: 25px;
  font-size: 12px;
}

.commentdiv{
  border: 1px solid grey;
  border-radius: 4px;
}

.modalCloseBTN{
  size: 100px;
  float: right;
}

.title-text {
  color: black;
  text-shadow: 1px 1px 1px black;
  text-decoration: none;
}
.title-text:hover {
  color: gray;
  text-decoration: none;
}

.navigation {
  margin-left: 1%;
  text-decoration: none;
  background-color: white;
  color: black;
}

.navi-bar {
  background-color: #ccccff;
  border-bottom: 1px solid black;
}

.update-container {


}

.userLogin{
  float: right;
  border-left: 1px solid black;
  margin-bottom: 5%;
}


.modal-backdrop.fade {
  opacity: 0.95;
  filter: alpha(opacity=50);
}

.auth-error {
  text-align: center;
  padding: 10px;
  border-top: 1px solid red;
}

.nameString {
  font-size: 12px;
  color: grey;
}

.delete-options {
  text-align: center;
  border-top: 1px solid black;
  font-size: 12px;
}

.signin {
  padding-left: 10px;
}
