.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.navbar {
  text-align: left;
  text-decoration: none;
  border-bottom: 1px solid black;

}
.App-nav {
  text-decoration: none;
}
.Users-crud {
  text-align: center;
  text-decoration: none;
}
th{
  border: 1px solid black;
  padding: 5px;

}
td{
  border: 1px solid black;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
